.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input {
  width: 60%;
}
.graph-div {
  width: 700px;
  height: 500px;
}
.additional-info {
  font-size: 12px;
  color: grey;
}
.btn {
  display: inline-block;
  background-color: #53565d;
  border: solid #53565d;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #7e8085;
}
.input {
  background-color: black;
  border: 1px solid black;
  color: white;
}
